/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #322C2B;
    background-color: #E4C59E;
}

a {
    color: #322C2B;
    text-decoration: none;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AF8260;
    padding: 10px 20px;
}

nav img {
    width: 50px;
    height: auto;
}

nav a {
    margin: 0 10px;
    font-weight: bold;
}

nav .btn {
    padding: 8px 16px;
    background-color: #803D3B;
    color: #fff;
    border-radius: 5px;
    border: none;
}

/* Hero Section */
.Home {
    background: url('home.webp') no-repeat center center/cover;
    color: #ffffff;
    text-align: center;
    padding: 40px 20px;
    width: auto;
}

.Home h1 {
    margin-top: 0;
}

/* Menu Section */
.menu {
    background-color: #AF8260;
    padding: 20px;
    color: #ffffff;
}

.menu_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu_item {
    width: 200px;
    margin: 10px;
    background: #803D3B;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.menu_item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #322C2B;
}

.menu_item h3, .menu_item p {
    margin: 5px 0;
}

/* Team Section */
.team {
    background-color: #E4C59E;
    padding: 20px;
    text-align: center;
}

.team_box {
    margin: 10px;
    display: inline-block;
    width: 150px;
}

.team_box img {
    width: 100%;
    height: auto;
}

/* Footer */
footer {
    background-color: #322C2B;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
}
footer-icons{
    border-color: aqua;
}

/* Media Queries for Responsive Layout */
@media (max-width: 768px) {
    .menu_items {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: column;
    }

    nav a, nav .btn {
        margin-bottom: 10px;
    }

    .team_box {
        width: 100%;
    }
}
